/* ==========================================================
 * Basic styles
 * ========================================================== */

 body {
 	background-color: #ececec;
 	color: #000;

 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 }

 img {
 	max-width: 100%;
 	height: auto;
 }

 h3 {
 	font-size: 24px;
 	font-weight: 700;
 }

 .btn-red {
 	background-color: #d51e08;
 	color: #fff;
 }

 .btn-red:hover {
 	background-color: #ec4835;
 }

/* ==========================================================
 * Header Top menu
 * ========================================================== */

 .menu-top .navbar {
 	margin-bottom: 0;
 	padding: 20px 0;

 	background-color: #fff;

 	text-transform: uppercase;
 }

 .menu-top .flag img {
 	width: 18px;
 	height: auto;
 	margin-right: 4px;
 	margin-bottom: 4px;
 }

 .navbar-default .navbar-nav > li > a {
 	padding-top: 5px;
 	padding-bottom: 5px;

 	color: #000;

 	transition: 0.3s;
 }

 .navbar-default .navbar-nav > li > a:hover {
 	text-decoration: underline;
 }

 .menu-top .container,
 .menu-top .navbar-collapse {
 	padding-left: 0;
 }

/* ==========================================================
 * Header shopping cart button 
 * ========================================================== */

 .navbar-default .navbar-nav > li > a.btn-red {
 	padding: 5px 20px;

 	color: #fff;

 	border-radius: 3px;
 }

 .navbar-default .navbar-nav > li > a.btn-red:hover {
 	background-color: #ec4835;

 	text-decoration: none;
 }

 .navbar-default .navbar-nav > li > a > .glyphicon {
 	margin-right: 10px;

 	font-size: 17px;
 }

/* ==========================================================
 * Header menu slider
 * ========================================================== */
 .menu-slider {
 	position: relative;
 }

 .carousel-indicators-wrap {
 	position: absolute;
 	width: 100%;
 	bottom: -25px;

 	text-align: center;
 }

 .carousel-indicators-wrap .carousel-indicators {
 	display: inline-block;
 	width: auto;
 	margin-left: 0;
 	padding: 5px 25px;
 	position: relative;
 	left: 0;
 	bottom: 0;

 	border: 1px solid #cfcfcf;
 	border-radius: 3px;

 	background-color: #fff;
 }

 .carousel-indicators-wrap .carousel-indicators li {
 	width: 10px;
 	height: 10px;
 	margin: 0 7px;

 	background-color: #d2d2d2;
 }

 .carousel-indicators-wrap .carousel-indicators li.active {
 	background-color: #a3a3a3;
 }

 .menu-slider .item {
 	min-height: 600px;
 }

 .menu-slider .bg-slide {
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;

 	background-image: url(../img/slider.jpg);
 	background-size: cover;
 	background-position: center center;
 }

 .menu-slider .container {
 	position: relative;
 }

 .menu-slider .carousel-caption {
 	left: 0;
 	top: 170px;
 }

 .menu-slider .carousel-caption h1 {
 	font-size: 48px;
 	font-weight: 700;
 }

 .menu-slider .carousel-caption p {
 	margin-bottom: 40px;

 	font-size: 30px;
 }

 .menu-slider .carousel-caption .btn-red {
 	padding: 25px 35px;

 	color: #fff;
 	font-size: 24px;

 	border-radius: 3px;
 }

 .menu-slider .carousel-caption .btn-red:hover {
 	text-decoration: none;
 }

/* ==========================================================
 * Header main menu
 * ========================================================== */

 .menu-main {
 	width: 100%;
 	position: absolute;
 	top: 30px;
 	z-index: 30;
 }

 .menu-main .navbar-inverse {
 	background-color: transparent;

 	border: none;
 }

 .menu-main .main-menu-bg {
 	background-color: #000;

 	border-radius: 3px;
 }

 .menu-main .navbar-header .navbar-brand {
 	margin-left: 30px;
 	padding: 0;
 }

 .menu-main .navbar-header .navbar-brand img {
 	float: left;
 }

 .menu-main .navbar-header .navbar-brand span {
 	display: inline-block;
 	padding: 15px;

 	color: #fff;

 	font-size: 18px;
 	font-weight: 700;
 	text-transform: uppercase;
 }

 .menu-main .navbar-inverse .navbar-nav > li > a {
 	color: #fff;

 	font-size: 16px;

 	transition: 0.4s;
 }

 .menu-main .navbar-inverse .navbar-nav > li > a:hover {
 	text-decoration: underline;
 }

/* ==========================================================
 * Main slogan
 * ========================================================== */

 .main-slogan {
 	padding: 50px 0;

 	border-top: 1px solid #cfcfcf;
 	border-bottom: 3px solid #dadada;

 	background-color: #fff;

 	text-align: center;
 }

 .main-slogan h1 {
 	margin: 0;

 	font-size: 30px;
 }

/* ==========================================================
 * Main content
 * ========================================================== */

 .main-content .content {
 	padding-top: 50px;
 	padding-bottom: 70px;
 }

 .main-content .content h3 {
 	margin-top: 0;
 	margin-bottom: 30px;
 }

/* ==========================================================
* Main content sidebar
* ========================================================== */

.main-content .sidebar {
	padding-top: 50px;
	padding-bottom: 70px;

	border-right: 3px solid #dadada;
}

.main-content .sidebar .widget {
	margin-bottom: 30px;
	padding-bottom: 30px;

	border-bottom: 3px solid #dadada;
}

.main-content .sidebar .widget h3 {
	margin-top: 0;
	margin-bottom: 30px;
}

.main-content .sidebar .widget ul {
	margin-bottom: 0;
	padding-left: 0;

	list-style: none;
}

.main-content .sidebar .widget ul a {
	display: block;

	color: #000;

	font-size: 16px;
	line-height: 30px;
}

.main-content .sidebar .widget ul a.more {
	color: #358acd;	
}

/* ==========================================================
 * Media query
 * ========================================================== */

 @media screen and (max-width: 1200px) {

 	.menu-top .navbar-nav,
 	.menu-main .navbar-nav {
 		float: none !important;
 	}

 	.menu-slider .carousel-caption {
 		left: 20%;
 		top: 130px;
 	}

 	.menu-main .navbar-form {
 		margin-left: 125px;
 	}
 }

 @media screen and (max-width: 992px) {

 	.menu-slider .carousel-caption h1 {
 		font-size: 40px;
 	}

 	.menu-slider .carousel-caption p {
 		font-size: 22px;
 	}

 	.menu-main .navbar-inverse .navbar-nav > li > a {
 		font-size: 14px;
 	}

 	.main-content .sidebar {
 		padding-top: 0;
 		padding-bottom: 0;

 		border-right: none;
 	}
 }

 @media screen and (max-width: 767px) {

 	.navbar-default .navbar-nav > li > a:hover {
 		background-color: #eee;
 	}

 	.menu-top .container,
 	.menu-top .navbar-collapse {
 		padding-left: 15px;
 	}

 	.menu-slider .carousel-caption h1 {
 		font-size: 36px;
 	}

 	.menu-slider .carousel-caption p {
 		font-size: 18px;
 	}

 	.menu-slider .carousel-caption .btn-red {
 		padding: 15px 20px;

 		font-size: 18px;
 	}

 	.menu-main .container {
 		padding-left: 0;
 		padding-right: 0;
 	}

 	.menu-main .navbar-inverse .navbar-nav > li > a:hover {
 		background-color: #222;

 		text-decoration: none;
 	}

 	.menu-main .navbar-form {
 		margin: 8px 0;
 	}

 	.menu-main .navbar-brand img {
 		max-height: 50px;
 	}

 	.menu-main .navbar-toggle.collapsed + .navbar-brand img {
 		max-height: none;
 		position: relative;
 		z-index: 30;
 	}
 }

 @media screen and (max-width: 540px) {

 	.main-content .sidebar .col-xs-6 {
 		width: 100%;
 	}
 }

 @media screen and (max-width: 480px) {

 	.menu-slider .carousel-caption .btn-red {
 		font-size: 14px;
 	}

 	.menu-main .navbar-toggle.collapsed + .navbar-brand img {
 		max-height: 80px;
 	}
 }