/* ==========================================================
 * Basic styles
 * ========================================================== */

 body {
 	background-color: #ececec;
 	color: #000;

 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 }

 img {
 	max-width: 100%;
 	height: auto;
 }

 h3 {
 	font-size: 24px;
 	font-weight: 700;
 }

 .btn-red {
 	background-color: #d51e08;
 	color: #fff;
 }

 .btn-red:hover {
 	background-color: #ec4835;
 }

/* ==========================================================
 * Header Top menu
 * ========================================================== */

 .menu-top .navbar {
 	margin-bottom: 0;
 	padding: 20px 0;

 	background-color: #fff;

 	text-transform: uppercase;
 }

 .menu-top .flag img {
 	width: 18px;
 	height: auto;
 	margin-right: 4px;
 	margin-bottom: 4px;
 }

 .navbar-default .navbar-nav > li > a {
 	padding-top: 5px;
 	padding-bottom: 5px;

 	color: #000;

 	transition: 0.3s;
 }

 .navbar-default .navbar-nav > li > a:hover {
 	text-decoration: underline;
 }

 .menu-top .container,
 .menu-top .navbar-collapse {
 	padding-left: 0;
 }

/* ==========================================================
 * Header shopping cart button 
 * ========================================================== */

 .navbar-default .navbar-nav > li > a.btn-red {
 	padding: 5px 20px;

 	color: #fff;

 	border-radius: 3px;
 }

 .navbar-default .navbar-nav > li > a.btn-red:hover {
 	background-color: #ec4835;

 	text-decoration: none;
 }

 .navbar-default .navbar-nav > li > a > .glyphicon {
 	margin-right: 10px;

 	font-size: 17px;
 }

/* ==========================================================
 * Header menu slider
 * ========================================================== */
 
 .carousel-indicators-wrap {
 	position: absolute;
 	width: 100%;
 	bottom: -25px;

 	text-align: center;
 }

 .carousel-indicators-wrap .carousel-indicators {
 	display: inline-block;
 	width: auto;
 	margin-left: 0;
 	padding: 5px 25px;
 	position: relative;
 	left: 0;
 	bottom: 0;

 	border: 1px solid #cfcfcf;
 	border-radius: 3px;

 	background-color: #fff;
 }

 .carousel-indicators-wrap .carousel-indicators li {
 	width: 10px;
 	height: 10px;
 	margin: 0 7px;

 	background-color: #d2d2d2;
 }

 .carousel-indicators-wrap .carousel-indicators li.active {
 	background-color: #a3a3a3;
 }

 .menu-slider .item {
 	min-height: 600px;
 }

 .menu-slider .bg-slide {
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;

 	background-image: url(../img/slider.jpg);
 	background-size: cover;
 	background-position: center center;
 }

 .menu-slider .container {
 	position: relative;
 }

 .menu-slider .carousel-caption {
 	left: 0;
 	top: 170px;
 }

 .menu-slider .carousel-caption h1 {
 	font-size: 48px;
 	font-weight: 700;
 }

 .menu-slider .carousel-caption p {
 	margin-bottom: 40px;

 	font-size: 30px;
 }

 .menu-slider .carousel-caption .btn-red {
 	padding: 25px 35px;

 	color: #fff;
 	font-size: 24px;

 	border-radius: 3px;
 }

 .menu-slider .carousel-caption .btn-red:hover {
 	text-decoration: none;
 }

/* ==========================================================
 * Media query
 * ========================================================== */

 @media screen and (max-width: 1200px) {
 	.menu-top .navbar-nav {
 		float: none !important;
 	}

 	.menu-slider .carousel-caption {
 		left: 20%;
 		top: 130px;
 	}
 }

 @media screen and (max-width: 992px) {
 	.menu-slider .carousel-caption {
 		top: 110px;
 	}

 	.menu-slider .carousel-caption h1 {
 		font-size: 40px;
 	}

 	.menu-slider .carousel-caption p {
 		font-size: 22px;
 	}
 }

 @media screen and (max-width: 767px) {
 	.navbar-default .navbar-nav > li > a:hover {
 		background-color: #eee;
 	}

 	.menu-top .container,
 	.menu-top .navbar-collapse {
 		padding-left: 15px;
 	}

 	.menu-slider .carousel-caption {
 		top: 90px;
 	}

 	.menu-slider .carousel-caption h1 {
 		font-size: 36px;
 	}

 	.menu-slider .carousel-caption p {
 		font-size: 18px;
 	}

 	.menu-slider .carousel-caption .btn-red {
 		padding: 15px 20px;

 		font-size: 18px;
 	}
 }

 @media screen and (max-width: 480px) {
 	.menu-slider .carousel-caption {
 		top: 70px;
 	}

 	.menu-slider .carousel-caption .btn-red {
 		font-size: 14px;
 	}
 }